@keyframes spinning {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moving {
    0% {
        width: 30px;
    }

    50% {
        width: 15px;
    }

    100% {
        width: 30px;
    }
}

@keyframes flying {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25% {
        opacity: 1;
        transform: rotateY(0);
    }

    50% {
        opacity: 1;
        transform: rotateY(0);
    }

    75% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
}